:root{
    --color1: green;
    --color2: red;
    --colorN: white;
}

#div{
    position: absolute;
    width: 100%;
}

#campo{
    position: relative;
    width: 100%;
    z-index: -2;
}

#terstegen{
    width: 100%;
    height: 100%;
    z-index: -1;
}

#button{
    position: absolute;
    top: auto;
    padding: 5px;
    left: 2.5%;
    bottom: 42.5%;
    width: 10%;
    z-index: 0;
}

#araujo{
    width: 100%;
    height: 100%;
    z-index: -1;
}

#button1{
    position: absolute;
    padding: 5px;
    left: 20.5%;
    bottom: 30.5%;
    width: 7%;
    z-index: 0;
}