:root{
    --color1: green;
    --color2: red;
    --colorN: white;
}

#margin{
    margin: 1000px;
}

html{
    background-color: var(--color1);
}

body{
    background-color: var(--color1);
}

.campo{
    width: 100%;
    height: top;
}