:root{
    --color1: green;
    --color2: red;
    --colorN: white;
}

#div{
    position: relative;
    width: 100%;
}

#campo{
    position: absolute;
    width: 100%;
    z-index: -1;
}

#terstegen{
    position: absolute;
    width: 100px;
    top: 50%;
}